# HW4
CSCI 4930  
Justin Hoang

## Reading the Dataset

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('spiral-dataset.csv', index_col=None, sep=r'\s', header=None)
data.columns = ['x', 'y', 'target']

data.head()

/var/folders/pt/_3pv06z57s3_j0w3tq9l60p80000gn/T/ipykernel_22606/3642716612.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data = pd.read_csv('spiral-dataset.csv', index_col=None, sep=r'\s', header=None)

       x     y  target
0  31.95  7.95       3
1  31.15  7.30       3
2  30.45  6.65       3
3  29.70  6.00       3
4  28.90  5.55       3

## Single Linkage Clustering